[2014-04-01 00:47] Deco opened #21 "Unable to move cells to certain positions"
In Chrome 33.0.1750.152, cell dragging does not work as expected in certain situations.
In the following situation, attempting to drag a cell (e.g: 1) to be between one of the following pairs does not work: 3-2, 2-7, 7-6, 6-9, 9-4, 3-5 and 5-10.

![screen shot 2014-04-01 at 8 45 07 am](https://cloud.githubusercontent.com/assets/95221/2574620/1fe5a6ba-b937-11e3-9211-ef09a70078a7.png)

[2014-05-08 01:40] FreezeSoul opened #38 "We need 3 features"
I compared your grid with gridster, your grid is very smart, also has a Good performance.
But It has 3 important features Unrealized
1. Dynamic creation（in codebehind）
2. Drag resize
3. Implement resizing of item height
Look forward to your improved version，Thank you for your good ideas。

[2014-08-09 05:50] Buooy opened #40 "What jQuery UI components is necessary"
For a leaner implementation on users' side, could you specify what components of the jquery UI is necessary for the use of GridList so that we can include only those components

[2014-08-26 20:27] rjub opened #43 "Grid does not display in IE8"
Why does the grid demo not work in IE8?

[2014-09-18 07:18] SohumB opened #45 "max_columns"
So we'll shortly be looking at implementing a `max_columns` for `grid` (we've been looking for grid implementations that have both `max_rows` and `max_columns` for a while now :p). How close is it to being implementable? Any tips would also be super useful.

Thanks!

[2014-11-06 03:53] aruizca opened #47 "Please add support for vertical grid extension"
Horizontal grid is not responsive on mobiles and tablets in portrait mode.

For the rest, great plugin!! :-) :+1:

[2014-12-01 23:02] patrioticcow opened #48 "more events?"
hello,

how can one drag a block and switch it with another block only once?
what about events like, onSort?

thanks

[2015-03-10 13:19] stefanhendriks commented on #45
+1

[2015-03-26 15:38] dasilvans opened #49 "Remove Drag"
Any "clean" way to disable drag and drop in all the elements?
Thanks!! keep up the great work.

[2015-03-26 15:40] skidding commented on #49
Yes, there's a `dragAndDrop` option that [defaults to true](https://github.com/uberVU/grid/blob/master/src/jquery.gridList.js#L27). Set it as `false` in the options you send to the plugin.

[2015-03-26 15:46] dasilvans commented on #49
Thanks for the support and amazing library.

[2015-03-26 15:46] #49 closed

[2015-03-27 02:09] abarik1981 opened #50 "nesting of gridlist"
Great work on Grid :) I needed some help on creating a nested gridlist. Something like http://codepen.io/tannerlinsley/pen/lrpoi

I was able to insert a childgrid into a parentgrid, but the childgrid cannot be interacted with (as in it cannot be dragged).
 By the way is there a way to disable dragging feature

[2015-03-27 17:23] abarik1981 opened #51 "IE9 grid demo doesn't work"
http://ubervu.github.io/grid/ doesn't seem to work in IE9

[2015-04-01 11:16] dasilvans commented on #47
+1

[2015-04-21 21:41] bfischer1121 opened #53 "Item selector config"
It'd be nice to be able to define the item selector in the jQuery plugin (vs. a hardcoded "li[data-w]")

[2015-04-22 08:47] #53 closed

[2015-05-10 08:01] PhantomYdn commented on #47
+1

[2015-06-08 19:48] drma-dev opened #57 "Add support for saving and loading layout"
As the API page is unavailable, I do not know if already exists. But what happens after the user customizes the page layout? Is there any way to save this layout and retrieve later?

[2015-06-09 09:13] andrei-picus-hs commented on #57
What API page? We have the API docs in the [README](https://github.com/uberVU/grid/blob/20531d60a6900c421d310a8e43213224183ac03e/README.md#api).

If you're using the GridList API directly, you can get the grid by inspecting the [items property](https://github.com/uberVU/grid/blob/20531d60a6900c421d310a8e43213224183ac03e/src/gridList.js#L48) on the instance or by looking at the [grid property](http

[2015-06-10 21:34] LulzAugusto opened #58 "How is it responsive?"
I don't know if I understood correctly what the README says, maybe I'm missing something, but how the grid would possibly be responsive if the items width and height are based onde the container? Do I have to set a fixed height to the container?

I'm asking because I'm trying to make a few samples and it always appear with the same size, no matter the screen width or height.

[2015-06-11 09:51] skidding commented on #58
It's responsive to the parent container, not the window.

![responsive-grid](https://cloud.githubusercontent.com/assets/250750/8104328/977e02c2-1038-11e5-9d8c-9b1bd22425f2.gif)

[2015-06-11 17:42] LulzAugusto commented on #58
Hello @skidding. Thanks for your help.

So do you set a fixed height to the parent container?

[2015-06-11 17:48] skidding commented on #58
Yes, and we set a custom window resize handler. This is how the demo does it: https://github.com/uberVU/grid/blob/master/demo/load.js#L30-L35

[2015-06-12 16:23] LulzAugusto commented on #58
Thanks. I got it now.

[2015-06-12 16:23] #58 closed

[2015-06-17 20:18] avilaj opened #60 "bower version outdated"
Hello guys, i'm having troubles getting it working with bower, everything works, but there is a problem when i call resizeItem(element, {w:2, h:2}). It is working with the previous version. I don't know what i have to do to use in bower the version 2 of the library.

[2015-07-07 20:59] thelinuxlich opened #61 "We need events for sorting, adding, removing, switching, etc"
So we can synchronize the gridlist with data coming from databinding frameworks like Angular, Vue, Knockout, etc

[2015-07-08 08:38] andrei-picus-hs commented on #61
The GridList class and the jQuery plugin don't have logic for adding and removing items, you do that yourself. Don't know what you mean by 'switching'.

As for sorting, a jQuery event could be emitted after the currently dragging item [has moved](https://github.com/uberVU/grid/blob/20531d60a6900c421d310a8e43213224183ac03e/src/jquery.gridList.js#L156) to a new position.

For resizing an item, an ev

[2015-07-13 12:41] andrei-picus-hs commented on #50
You can pass [dragAndDrop: false](https://github.com/uberVU/grid/blob/20531d60a6900c421d310a8e43213224183ac03e/src/jquery.gridList.js#L28) to the plugin constructor.

[2015-07-29 15:26] catalinmiron opened #62 "Implement vertical gridlist"
# Vertical gridlist

In order to make the grid to support both `vertical` and `horizontal` directions we will modify its current implementation by adding new concepts `#indexes` and `#lanes`.

**Insert the image**

- [ ] Modify `rows` prop to `itemsPerLane`, we no longer need a `rows` option
*If specified, `itemsPerLane`, will represent the #lanes*
- [ ] Pass a custom option `direction` to identif

[2015-08-03 13:54] matpulis opened #63 "Insert data into grid items like Normal HTML or Highcharts plugin."
This is an awsome repository, but I cant quite figure out how can I input data into each individual grid item like normal HTML. I am building a widget dashboard and would like to include plugins from highcharts. And is it possible to save a layout after you've edited it ?

Thanks you

[2015-08-03 15:33] andrei-picus-hs commented on #63
Check out the [jQuery plugin](https://github.com/uberVU/grid/blob/20531d60a6900c421d310a8e43213224183ac03e/src/jquery.gridList.js).

See https://github.com/uberVU/grid/issues/57.

[2015-08-03 15:34] #40 closed

[2015-08-03 15:35] andrei-picus-hs commented on #45
Progress for this is tracked in https://github.com/uberVU/grid/issues/62.

[2015-08-03 15:35] #45 closed

[2015-08-03 15:35] andrei-picus-hs commented on #47
Progress for this is tracked in https://github.com/uberVU/grid/issues/62.

[2015-08-03 15:35] #47 closed

[2015-08-05 16:11] andrei-picus-hs opened #64 "findLeftMostPositionForItem logic is flawed"
![bug](https://cloud.githubusercontent.com/assets/12442713/9090886/a6a1e5b4-3ba5-11e5-95b7-1cb0610a1c01.gif)

[2015-08-06 10:15] andrei-picus-hs opened #65 "Resizing the grid can leave empty horizontal spaces"
![bug2](https://cloud.githubusercontent.com/assets/12442713/9109278/18b7b948-3c3d-11e5-9ae4-70bc689da828.gif)

[2015-08-06 12:13] andrei-picus-hs opened #66 "Resizing an item can leave empty horizontal spaces"
![bug3](https://cloud.githubusercontent.com/assets/12442713/9111249/a87d9376-3c4d-11e5-9d6b-ed93be652a67.gif)

[2015-08-20 09:27] andrei-picus-hs commented on #64
@skidding please review.

[2015-08-20 13:34] skidding commented on #64
LGTM

[2015-08-20 13:49] andrei-picus-hs commented on #65
@skidding  please review.

[2015-08-21 09:19] andrei-picus-hs commented on #66
@skidding please review specs.

[2015-08-21 09:22] skidding commented on #66
LGTM

[2015-08-26 12:55] andrei-picus-hs opened #67 "Autoheight gets applied to the wrong items"
![autoheight-bug](https://cloud.githubusercontent.com/assets/12442713/9493784/d6784920-4c0a-11e5-997d-3c72dab63a67.gif)

## Solution

The problem is due to the [cloneItems method](https://github.com/uberVU/grid/blob/318753550bc5e9600aadf44b981787712c5e6229/src/gridList.js#L57-L79). When the properties are [copied](https://github.com/uberVU/grid/blob/318753550bc5e9600aadf44b981787712c5e6229/src/gri

[2015-08-26 13:41] andrei-picus-hs commented on #67
@skidding which solution do you prefer?

[2015-08-27 13:57] #67 closed

[2015-09-01 10:06] matpulis opened #69 "resizeGrid() and data-x data-y attr location update"
Well done with the update the plugin is better then ever man!

I just have one question. I am building a dashboard with dynamically generated <li> the li will not contain data-x and data-y I am trying to use the resizeGrid() function specified within the README but i cannot get it to work it says function not defined.  $('#grid').GridList.resizeGrid('5'); I am using that to call the function.

I a

[2015-09-01 11:58] matpulis commented on #69
Figured out how to fetch the saved layout object I used.

[code]

[2015-09-01 15:05] andrei-picus-hs commented on #69
The jQuery plugin has a [resize](https://github.com/uberVU/grid/blob/38159a91423b2e1cae829e1e928b61592882738e/src/jquery.gridList.js#L42) method that you can use like this:

[code]

Check out the [demo page](https://github.com/uberVU/grid/blob/38159a91423b2e1cae829e1e928b61592882738e/demo/load.js#L34) for more details.

[2015-09-02 07:38] matpulis commented on #69
Thank you very much for your answer andrei. Might I ask you last 1 questions please?

When I retrieve the stored layout object it returns Object {_options: Object, items: Array[9], grid: Array[8]}

_options - are the grid options
items - I am getting X and Y positions and I am assigning it to my items.
grid    - This I do not know how to use the grid array

When I set the X and Y positions on my i

[2015-09-03 06:42] matpulis commented on #69
Hi guys I managed to fix my layout bug and I am adding functionality for dynamically adding and removing items to the grid. I will be uploading the code after I have finished it. I am making a grid controller sort of. Simple and it works!

[2015-09-14 18:25] juggy opened #70 "Move item between grids"
I want to have 2 grids and allow drag and drop between the 2. It would need to show the "constraints" while dragging over the new grid as well as moving around the preexisting items.

How difficult would it be to add and where should I look to give it a try?

Thx

[2015-09-21 09:00] andrei-picus-hs commented on #70
@juggy it would be quite difficult to implement that. You would have to:

- add support for emitting events from the grid,
- add the jQuery UI [droppable plugin](https://jqueryui.com/droppable/) to listen for `onOver` events,
- check that the events come from another grid,
- add support for programmatically adding and removing items from a grid,
- communicate with that grid to remove the item from

[2015-09-21 18:43] Hobstweedl opened #71 "onlick or onselect even for item"
Are there any events available for when an item on the grid has been clicked or selected? I've only been able to find the onchange event for working with items after updating.

[2015-09-22 08:04] andrei-picus-hs commented on #71
@Hobstweedl you can attach onClick handlers to the items yourself before or even after you call the plugin.

[2015-09-22 08:04] #71 closed

[2015-09-22 08:06] andrei-picus-hs commented on #48
See #61.

This doesn't seem related to events. What do you mean by this?

[2015-09-22 08:07] #63 closed

[2015-09-22 08:08] #69 closed

[2015-09-22 16:36] patrioticcow commented on #48
At the time I placed this question, it made sense to ask it, now it doesn't :) sorry

[2015-09-22 16:36] #48 closed

[2015-10-13 13:14] gitsilvan commented on #60
I also had a problem with the bower version. It worked when I added the "master" branch name at the end of the install command. So instead of doing `bower install hootsuite/grid` you can try `bower install hootsuite/grid#master`. Worked for me! Installed the actual newest version.

[2015-10-13 21:33] changyh opened #73 "How to let one panel display on whole windows to view details and can be back to normal size with other panels"
Is possible to do focus on a panel to view details to display whole windows?
After view then back to normal with other panels,...

Thanks,

[2015-10-26 18:09] passkey1510 opened #74 "Doc error"
The default direction of the grid is 'horizontal' as set in https://github.com/hootsuite/grid/blob/master/src%2FgridList.js#L85 meanwhile the doc states that the default direction is 'vertical', which could cause a couple of minutes looking at the source code to find out :)

Otherwise, thanks for the great lib!

[2015-10-27 09:39] #74 closed

[2015-10-27 09:39] andrei-picus-hs commented on #74
Fixed in #75. @passkey1510 thanks for spotting this.

[2015-10-28 09:49] #51 closed

[2015-10-31 12:23] solerman commented on #21
I think this one is fixed already

[2015-10-31 17:44] eugene-palacios opened #77 "Integrate with Angular"
Hi, I wanted to ask how to integrate this plugin to angularJS? thanks!

[2015-11-02 11:44] Busata opened #78 "Move items programmatically?"
Hello,

We bumped into this plugin after checking out gridster & coming to the same conclusion that's unmaintained & thus not really reliable.

I was creating a small POC using this plugin, but was wondering if we can move items programmatically out of the box? I notice the gridclass has the functionality, but not sure if we can call it directly through the jquery functionality?

[2015-11-02 12:51] #21 closed

[2015-11-05 07:55] NiGhTTraX commented on #78
You can access the grid instance through `$('#grid').data('_gridList').gridList` and there you can find the `moveItemToPosition` method. You'll need to trigger a re-render after you've changed the items by calling `$('#grid').gridList('render')`.

That's just the unsupported peaking-at-internals way of doing it.

[2015-11-15 12:15] gitsilvan opened #80 "Finding new position is triggered too late in jQuery plugin when only having one lane"
When there is only one lane in the grid, finding a new position for items is triggered too late when using the jQuery plugin. It works fine with the first item next to the one that is dragged, but the second already has a wrong "trigger point" - it looks like the dimensions of the item underneath the dragged one are calculated incorrectly (one cell falsely added).

This only happens when moving an

[2015-11-17 11:43] andrei-picus-hs commented on #80
The problem lies in how we rebuild the grid when we can't reposition the items underneath the dragged item. What happens is the following:

0. You drag `0` over `2`.
1. We empty `0` current spot and place it on the new position.
2. The grid now looks like `empty spot | 1 | 0, 2 | 3, | 4 | etc`
3. We see that `0` collides with `2` and try to move `2` around.
4. By moving `2` around it collides with

[2016-02-01 23:06] gxapplications commented on #70
:+1: for this feature... Could allow a grid or a list of elements in a "Add element to grid sidebar" to be dragged into the main grid...

[2016-02-17 22:24] bmsq opened #82 "How should add/remove items work?"
I know #29 captures the feature request for adding/removing items to the grid .  However, I need this functionality (in GridList library only, not jquery) for my use case and would like to know how I should go about implementing this feature myself.

If I can implement it in a way that aligns with the original design of the library, I'm happy to provide a pull request.

[2016-02-25 23:28] mrrs6 opened #83 "White collumn"
Hey ! Is there any way to disable dragging ? I would like to make it for non-admin users.
How about inserting an empty col/row and make it stay after reflow/adding/removing rows/cols?

[2016-02-26 08:00] andrei-picus-hs commented on #83
You can pass [`dragAndDrop: false`](https://github.com/hootsuite/grid/blob/eb65d8fe6a120941d80815af26787348a80c956c/src/jquery.gridList.js#L106-L111) through options to disable dragging.

Can you please explain what you mean by this?

[2016-02-27 00:09] mrrs6 commented on #83
Well, i did it by creating an empty cell and resizing it vertically when i add/remove rows. Thanks for the tip :) And great work by the way!!! I am doing this to create a clear division between two sections, let's say on the left i have programs and on the right documents. What I did:

[] [] [] |          | [][]
[] [] [] |empty | [][]
         |          | []

If i add or remove rows to grid (i'm

[2016-02-27 16:45] mrrs6 opened #84 "Positioning issue (vertical)"
Do you have any idea what's happening? When i set grid to vertical 7 should stay after 1 2 3 4 5 and 6, as it stays for horizontal.
![screenshot from 2016-02-27 16 39 11](https://cloud.githubusercontent.com/assets/7017762/13374065/72d153be-dd71-11e5-86ed-6efea91070e7.png)
![screenshot from 2016-02-27 16 39 56](https://cloud.githubusercontent.com/assets/7017762/13374066/72d1acf6-dd71-11e5-9e49-00c2

[2016-02-29 10:25] andrei-picus-hs commented on #83
1. Shouldn't it? Don't you want the division to stretch all the way down? (btw, you can use `height: 0` and the lib will make sure the column will always stretch).
2. How are you adding and removing rows?

Check the code section in the [markdown help](https://guides.github.com/features/mastering-markdown/).

[2016-03-13 22:39] jbpineiro opened #85 "Grid of RxC"
I need modify the grid to allow only drag and drop operations in a grid of RxC, don't extend the grid. By example, initially I have a grid of four columns and five rows (direction: 'vertical'), and when I move an element to bottom, it add a new row, that is wrong for my application. It should adjust the elements in the empty space, not add an extra row. It is possible?
I want a behavior like https

[2016-03-29 20:34] rafaelmaiolla opened #86 "Why the id attribute in the grid item is required to be a Number?"
The following line: https://github.com/hootsuite/grid/blob/master/src/jquery.gridList.js#L201 transform the id to a number.  Is there a reason for the id to be a number?

[2016-04-06 08:16] ovidiu-chereches-hs commented on #86
Can't think of one, probably just a legacy decision. If I'm not mistaken, `id` is just a generic assumption the lib has about your items, but it doesn't actually use it anywhere. @NiGhTTraX correct me if I'm wrong.

[2016-04-06 16:48] andrei-picus-hs commented on #86
@ovidiu-chereches-hs seems that way. At first I thought it was used inside the jQuery plugin to get the list of changed items, but it's using [`$element`](https://github.com/hootsuite/grid/blob/eb65d8fe6a120941d80815af26787348a80c956c/src/jquery.gridList.js#L336) for that. Someone should remove it and see if anything breaks.

[2016-04-08 10:30] cdekok opened #87 "Get data attributes from element in DOM"
Currently the data attributes in the DOM are not updated is this intentional for performance?
If so what is the best way to get the current position from an element I only see an internal method: _getItemByElement

Can we change it to either update the data attributes in the DOM or make _getItemByElement part of the public API.

[2016-04-18 03:55] asmarkis commented on #83
I noticed that after I have turned off dragging using dragAndDrop to false, the events of the 'draggable grid' are still bound by _bindEvents() called by the initialization of the grid. I fixed this issue by modifying the jquery.gridlist.js like so:
`var DraggableGridList = function(element, options, draggableOptions) {
    this.options = $.extend({}, this.defaults, options);
    this.draggableOpt

[2016-06-02 09:51] jimmyko opened #88 "Create tag for each version release."
I can find that there is only a tag for 0.1.0 version. It is difficult for others to download the specific version of this library who are not using npm.

[2016-06-03 13:05] andrei-picus-hs commented on #88
@jimmyko I pushed the [latest tags](https://github.com/hootsuite/grid/tags). Please reopen if you want other versions tagged as well.

[2016-06-03 13:05] #88 closed

[2016-06-10 20:13] Horray opened #89 "JavaScript mode Not working"
I"m trying to create a the grid framework using a JSFiddle. The problem is, nothing happens when I do it. Here's the JSFiddle:

https://jsfiddle.net/xrwbybb8/

[2016-06-14 09:56] andrei-picus-hs commented on #89
The `GridList` lib doesn't work with DOM. The jQuery plugin on the other hand... Check out the [source](https://github.com/hootsuite/grid/blob/0e995bb406da7e4c9ae71623c96a33608915f942/demo/load.js) for the demo page for details on usage.

[2016-06-14 09:56] #89 closed

[2016-06-14 18:54] stellanhaglund opened #90 "Server processing"
Hi i read the part about allowing you to run tests on the library in node.
I guess there is currently no way to let the server handle the calculation when using it with real data.
But maybe using that with websockets would be an option?

[2016-06-14 20:45] stellanhaglund opened #91 "Responsive in both directions"
Is there any way to make sure a certain amount of rows and columns such as 5 columns and 3 rows will always fit the container?

[2016-06-15 07:29] NiGhTTraX commented on #91
No. The grid is designed to expand infinitely in one direction. It could probably be changed to allow for restrictions on both axes, but that's not something on our roadmap. PRs are welcome.

[2016-06-15 07:32] NiGhTTraX commented on #90
The core lib can run both in Node and in the browser. If you want to do the math on the server then you are able to do so with your favorite approach. The jQuery plugin expects the lib to be exposed on `window`, but you could easily write your own plugin that communicates with the lib in another way.

[2016-06-27 11:32] IS0metric opened #92 "Dynamic space filling?"
Hello all,

Very nice project you have here. I have an issue where I have created my own set of 'fixtures' like the ones you used in the demo, and have generated my 'items' from them. I have then written some code which _should_ place them dynamically on the grid without overlapping with any other cells or the edge of the grid.

I am using the 'vertical' format of the grid list.

It's almost there

[2016-07-07 09:18] jimmyko commented on #88
Cool. thanks.

[2016-07-22 02:37] asmarkis opened #93 "Touchscreen interaction incompatible/inconsistent"
I can drag items on the grids all I want with a mouse, but on touch screen devices there is simply no way to easily and consistently drag items around with the code as it is now.

I noticed that with Edge browser, if you hold your touch for long enough, it will start to move but then immediately stop and try to show the context menu. In firefox, you can actually move and tap them! But, you must ho

[2016-07-22 03:23] asmarkis commented on #93
Conveniently, I just found an interesting discussion that Edge defaults to not recognizing touch events in its settings. After using the "Touch Punch" and setting the touch event to On, Edge works as it should.

Also, in case anyone is interested, I also added the following code to disable the right-click context menu because the Surface will treat a long press as a right-click.
`window.oncontextm

[2016-07-22 03:35] #93 closed

[2016-08-09 21:23] tracyalison11 commented on #77
I am using ng-repeat without an issue. I use ng-repeat on the innermost div with all of the data-x, data-y, etc attributes. It ends up looking like this:

<div class="grid-container" style="height: 100%; width: 100%;">
  <div class="container" style="position:relative; height: 100%; width: 100%;">
    <div ng-repeat="item in items" class="dashboard-charts" style="position:absolute" data-x="{{item.

[2016-09-20 09:18] vivdkool opened #94 "How to use with angular 2"
How to use with angular 2

[2016-09-29 11:01] GordonSmith opened #95 "Grid List in Action"
This is not an issue - but I couldn't find anywhere to post a "thanks"!

Grid List in action:  http://rawgit.com/GordonSmith/Visualization/GH-2030/demos/dermatology.html?src/layout/Grid.simple&designMode=true

Thanks!

[2016-09-29 11:14] andrei-picus-hs commented on #95
@GordonSmith I'm glad you find it useful!

[2016-10-07 14:37] valentin-radulescu-hs opened #96 "Add support for CSS transforms"
## Deliverables

Allow grid item positions to be set with CSS transforms instead of `top, left` properties. This should allow for faster paint times, especially for transitions and animations.
## TODO
- [ ] keep old behaviour by default
- [ ] allow transform positioning though options, ex:`useTransformPositioning`

[2016-10-16 19:16] bryanvam opened #97 "Fixed lanes (direction horizontal) with fixed columns"
How to have fixed rows and columns?

 $("grid").gridList({
                lanes: 5,
                direction: 'horizontal'
...

Gives me 5 fixed rows. I need to have 2 fixed columns with this. Is this possible?

[2016-10-16 19:33] NiGhTTraX commented on #97
Not with the current design. The lib is made to extend infinitely in one
direction.

On Oct 16, 2016 9:16 PM, "Bryan Vam" <notifications@github.com> wrote:

[2016-10-20 07:51] BoyZeePoole opened #98 "npm - packages"
There is already a package on npm for grid-list, but none for jquery.gridList?
We are using systemJS with angular and import our components via package.json making it difficult to use the jquery.gridList.

[2016-10-20 08:01] NiGhTTraX commented on #98
You should be able to import the jQuery plugin by its path in the repo i.e.
`require('gridlist/src/jquery.gridList.js')`.

On Oct 20, 2016 9:51 AM, "BoyZeePoole" <notifications@github.com> wrote:

[2016-10-20 08:42] BoyZeePoole commented on #98
Awesome, I'm not using require, but import 'gridlist/src/jquery.gridList.js', worked just fine...
Thanks

[2016-10-20 08:42] #98 closed

[2016-10-21 00:47] valentin-radulescu-hs commented on #43
IE8 compatibility has never been a priority for us, IE9+ should work fine though.

You could probably get the get the grid working for older browsers if you include a bunch of polyfills for stuff like [Array.map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map#Polyfill), [Array.indexOf](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Glo

[2016-10-21 00:47] #43 closed

[2016-10-21 01:03] valentin-radulescu-hs opened #99 "Fix bower install"
- [ ] Adhere to the [bower.json spec](https://github.com/bower/spec/blob/master/json.md#name)
- [ ] Publish latest version (currently bower still points to old repo ver.)

[2016-10-21 11:22] #99 closed

[2016-10-21 11:37] valentin-radulescu-hs commented on #60
Should work fine now if you install the latest version (0.4.0 ATM) .
[code]

Unfortunately due to a tag issue on our end bower will try to pull in `v1.0.0` which is actually outdated as it's been pointed out.

[2016-10-28 06:48] BoyZeePoole opened #101 "Trigger stop event"
Hi, I'm writing unit tests and would like to trigger the stop event in my test code.

[2016-10-31 10:05] andrei-picus-hs commented on #101
You mean the drag stop event? Since the event handler is [attached](https://github.com/hootsuite/grid/blob/ee255749482aab8d47d5a2a33a65323d4d8c963c/src/jquery.gridList.js#L128) using jQuery's `on()` method, you can use [`jQuery.trigger`](http://devdocs.io/jquery/trigger) to trigger it. You could also write Selenium tests that control an actual browser.

P.S.: these wouldn't be unit tests as you're

[2016-11-01 22:11] johnmee opened #102 "How to use with npm and webpack?"
Similar to issue #98 I'm trying to work out how to use this with [webpack](https://webpack.github.io) directly from the [npm package](https://www.npmjs.com/package/grid-list) without much success.

**require('grid-list')** loads the _gridList.js_ ok, but _jquery.gridList.js_ is not loaded.

Following it up with **require('grid-list/src/jquery.gridList.js')** generates this error...

Module not fou

[2016-11-02 09:05] andrei-picus-hs commented on #102
Myes, it seems like the jQuery plugin wasn't [ever made](https://github.com/hootsuite/grid/blob/ee255749482aab8d47d5a2a33a65323d4d8c963c/src/jquery.gridList.js#L1-L2) for CommonJS. We could add `module.exports` and `require` calls, but we need to be careful with webpack because it understands both AMD and CommonJS and it will choose the first branch in that UMD boilerplate.

We could also make eve

[2016-11-08 19:06] RadValentin commented on #102
Just wanted to add that the defined module `gridlist` is incorrect, if it was set to `grid-list`, the name of the NPM package then it should get resolved ok for AMD

[2016-11-08 19:13] RadValentin commented on #102
@johnmee Can you give it a shot (see my previous comment) and submit a PR if it works for you?

[2016-11-09 04:16] johnmee commented on #102
A variation to solve this for webpack, without setting up aliases.

    window.GridList = require('grid-list/src/gridList.js');
    require('imports?define=>false!grid-list/src/jquery.gridList.js');

[2016-11-17 15:13] #101 closed

[2017-01-16 23:19] vineetbatta opened #104 "Type Definition file"
We want to use the library in our project but I am unable to find Type Definition file. Can someone help me here?

Out stack is
Typescript
React etc.

Thanks

[2017-01-17 01:35] #60 closed

[2017-01-17 01:37] #96 closed

[2017-01-17 14:18] crohn opened #105 "Bower reports mismatch during v0.3.1 installation"
As you can see [here](https://github.com/hootsuite/grid/blob/v0.3.1/bower.json#L3), in tag **v0.3.1** declared version does not match resolved version, and bower reports **mismatch** message during installation.

[code]

[2017-01-18 12:50] valentin-radulescu-hs commented on #105
@crohn not sure what we can do to address this, the bower install is known to be problematic prior to v4, see #60. Could you upgrade to `0.4.0`?

[2017-01-18 12:51] valentin-radulescu-hs commented on #104
This lib wasn't designed with strong typing in mind but we're open to PRs :)

[2017-01-19 09:05] RonakKhandelwal commented on #91
+1 @stellanhaglund found a work around yet?

[2017-01-23 06:24] RonakKhandelwal commented on #95
+1 put that on md file as well people should be able to see it.

[2017-01-23 08:20] RonakKhandelwal commented on #82
+1 any updates?

[2017-01-24 04:43] RonakKhandelwal commented on #38
@skidding if I could get an update on this, it would be great since no. 1 is a very important feature that we need and it is the sole issue standing between our project and this amazing lib. So if I could get an update I would be so grateful.

[2017-01-24 06:06] git-ashish commented on #38
@RonakKhandelwal You could consider bridging the gap by making a contribution, its an open source project.

[2017-01-24 06:28] RonakKhandelwal commented on #38
@git-ashish I definitely would have if I wasn't swamped with this ongoing project. I wanted a library which would take care of all these features so that I have space for some extra work on my plate, anyways I saw a guy who was interested in submitting a pr for the same issue but he never got a response.

[2017-01-24 09:33] valentin-radulescu-hs commented on #38
@RonakKhandelwal I'm open to doing a code review if he submits a PR, don't know to whom you're referring to...

[2017-01-24 10:03] RonakKhandelwal commented on #38
#82 is the one I'm talking about.

[2017-01-24 10:09] valentin-radulescu-hs commented on #82
@bmsq If you're still interested please submit a PR, I'd be happy to do code review

[2017-01-30 05:25] RonakKhandelwal commented on #69
@matpulis any update???

[2017-01-30 16:19] #105 closed

[2017-01-31 12:49] RonakKhandelwal commented on #38
A solution for no 2. Put this code just under the place where you are actually creating the grid. Somewhere around "  $('#grid').gridList({ " function

[code]

[2017-02-01 05:25] RonakKhandelwal opened #106 "Initial render when x and y attributes are not provided works for horizontal direction but in vertical direction it just stacks one under the other."

[2017-02-06 04:23] #102 closed

[2017-02-19 02:55] dusiromulo commented on #38
Hey guys, I'm doing a widget for Django that uses this libs. I've implemented add and remove elements, if you want I can post it here.

[2017-02-19 06:29] RonakKhandelwal commented on #38
@dusiromulo please do, even I am on my way of implementing that and I hope that the author can incorporate the changes in the lib

[2017-02-19 19:17] dusiromulo commented on #38
What is the best way to put my code here in this page? I've implemented some functions inside gridList.js and jquery.gridList.js and code of theses files are too big.

[2017-02-19 21:55] dusiromulo commented on #38
Here is the zip link: https://drive.google.com/file/d/0B0wKFMQ1VZeCZ0o2VU5vajVkWlk/view?usp=sharing

[2017-02-19 22:18] dusiromulo commented on #38
Some important changes:

1) Sorry, but I have to change the DemoGrid structure, because I want two grids in the same page.
2) Inside jquery.gridList.js on function _applyPositionToItems i'm applying the respective position in the respective HTML element. I need this for calculate the new element position.
3) Inside gridList.js I create removeItem function, for remove the item of structure and appl

[2017-02-20 06:06] RonakKhandelwal commented on #38
@valentin-radulescu-hs good enough for pr? If you want some different implementation let me know I'll submit a pr myself.

[2017-02-20 09:54] RonakKhandelwal commented on #38
@dusiromulo I tested your solution, the remove overlaps items when the items are of different sizes.

[2017-02-21 09:28] RonakKhandelwal commented on #57
@dhiogoacioli  although I have implemented this feature myself but would you mind showing me your implementation for loading the layout? I think I am missing out on some cases.

[2017-02-21 11:13] valentin-radulescu-hs commented on #38
@dusiromulo Would you mind opening a PR? It would make it much easier to review. If you're unfamiliar with the git workflow there are plenty of tutorials online, some I used are: [this](https://try.github.io/) and [this](https://www.codeschool.com/courses/try-git).

The process would be:

1. Fork this repo and clone it on your machine
2. Make a branch and apply your changes
3. Publish the branch a

[2017-02-21 14:43] dusiromulo commented on #38
Yeah, I'll do this!

[2017-03-13 15:40] vblagomir commented on #106
I have the same issue in both vertical and horizontal direction (osx chrome and safari). Even in the demo, if to turn off assigning the data-x and data-y attributes. As a workaround, managed to get the items positioned when specifically calling resize function: `$('#grid').gridList('resize');`

[2017-03-13 15:48] vblagomir commented on #106
:-) Just read the docs one more time..  so it is not a workaround but an expected behaviour.

[2017-03-14 09:22] capitanjacksparrow opened #107 "Enabling and disabling drag and drop"
Is it possible to enable and disable drag and drop on the basis of mouse or touch events?
I tried by setting dragAndDrop property in this way, on a click event:

$('#grid').gridList({dragAndDrop: false});

However, the layout changes (it doesn't fit the vertical direction anymore) and the widgets behavior becomes unstable.

[2017-04-13 14:21] swiety85 commented on #94
angular2gridster

[2017-05-07 01:07] puppetmaster3 opened #108 "how to size boxes?"
never mind close

[2017-05-07 01:58] #108 closed

[2017-05-08 11:40] olee commented on #102
Why wasn't this fixed?
Just changing the import from `gridlist` to `grid-list` should fix this problem....

[2017-05-08 11:47] valentin-radulescu-hs commented on #102
@olee You're correct, feel free to open a PR and ping me for code review.

[2017-06-22 13:38] vytautas-pranskunas- opened #110 "Can jQuery be removed?"
Hello,

I am using Angular 2.x and was looking for some dashboard library. This one looks very promising but as you know jQuery is not recommended by most MVVM libraries so I wonder is there a chance that jQuery can be removed and swapped with regular document... events?

[2017-06-22 20:03] valentin-radulescu-hs commented on #102
@olee fixed in #111

[2017-06-29 07:06] catalin-miron-hs commented on #110
Hi @vytautas-pranskunas-,

You can use Gridlist without jQuery but you'll need to write an additional wrapper for `gridlist.js` in Angular to translate the `matrix` into `DOM`. `gridlist.js` is the grid manager (algorithm itself) and `jquery.gridlist.js` is translating the `gridlist.js` output into `DOM`.

Please let me know if you need other informations and if there's anything that we can do in

[2017-06-29 07:23] vytautas-pranskunas- commented on #110
Hi, thanks for your answer.
I think your library does a great job but it's limitation for spreading is jQuery.
If you can translate write to jQuery agnostic wrapper I think it will be used in much more projects utilizing React, Angular x and other UI libraries, because, I am sure you aware, that for thos elibraries jQuery is not recommended at all, and I am sure that you can write that wrapper fas

[2017-06-29 07:32] catalin-miron-hs commented on #110
`gridlist` does not require `jQuery` and is framework agnostic. From [README](https://github.com/hootsuite/grid/blob/master/README.md):

[2017-06-29 07:34] catalin-miron-hs commented on #110
You still need to have logic for `drag and drop` capabilities

[2017-06-29 07:38] vytautas-pranskunas- commented on #110
"gridlist does not require jQuery and is framework agnostic. From README:"

I know.

"A jQuery plugin built on top of the GridList class that translates the generic items positions into responsive DOM elements with drag and drop capabilities." - this is what should be jQuery agnostic

Drag'n'Drop can be done with RxJs for instance and i think it would be more convenient to have this.

[2017-07-04 10:55] parvezshah opened #112 "Overlapping item"
I Have a requirement to create grid system in which I can have a class of Item say class "A" which can overlap  item from class "B"
is there any way GridList supports this, if not any pointer/starting point on how should I should extend GridList for this

[2017-07-25 08:38] bojan88 commented on #107
Try this:
[code]
Note that you have to add `grid-item` class to the items.

[2017-08-31 18:30] joacim-boive commented on #110
Hear, hear - I also would like to see a jQuery free version.

[2017-09-29 21:33] loftyduck commented on #94
I got this working with Angular 4 and webpack; exactly how and where you add code depends on your project but I'll explain the changes I made:

In package.json add [grid-list](https://www.npmjs.com/package/grid-list) and the necessary jquery libraries in your dependencies:
[code]
run npm install afterwards, if needed

In vendor.browser.ts (where 3rd party libraries/assets are required)
[code]

The

[2017-09-29 22:12] loftyduck commented on #77
See also #94

[2017-10-17 05:02] imMatt commented on #57
@RonakKhandelwal Any chance you'd be able to share how you implemented saving and loading?

[2017-10-17 05:06] RonakKhandelwal commented on #57
@imMatt I wouldn't be able to share the code for it but I'll just tell you the gist of it. I stored each "widget" or element inside a json object with its x,y,w,h parameters and while loading it I read from that. If you have a look at the available api it should be fairly straightforward.

[2017-10-24 11:18] SmiffyKMc opened #114 "Integrate with Vuejs"
How can I get this working with Vue.js as my framework?

[2017-12-15 03:47] KarthikJayakumar commented on #38
+1 Any Updates?

[2017-12-16 14:44] mgifford opened #116 "Needs Accessibility Review"
Happy to see this project is still active.  I'm calling for an accessibility review of this code as right now from the demo there are some significant problems for keyboard only users and I assume also screen readers.

See discussion referencing this project here https://www.drupal.org/project/drupal/issues/2920006

[2018-01-14 20:54] kristina-albrecht commented on #110
Would love to be able to use this library with Angular 2+. Unfortunately I have no idea how to do this without using jQuery and having to re-implement half of the library. Looking forward to seeing more React and Angular friendly version!

[2018-03-18 14:25] ishirav opened #117 "Minimal required CSS"
This library is awesome!
One small comment: the documentation should include a note about the minimal CSS required for this to work. AFAIK the container should have `position: relative` and the items should have `position: absolute`. Otherwise nothing happens, and there's no clue why.

[2018-03-19 14:30] tonypine opened #118 "New items being stack one below previous item"
I'm trying to handle add and remove action, the approach that I'm using right is this:
[code]
In the `addNewItem` I just append a new element in the `DOM` to the grid element. Then I reinitialize the grid, and call a `resize`.

The behavior is awkward, I have to call resize several times to the grid organize itself correctly, that in my mind would be adding new elements from the left to right row

[2018-04-10 14:36] ishirav commented on #117
Also, the option to add a `.position-highlight` element for showing where the drop will occur is not documented.

[2018-04-28 18:49] husseinelhussein opened #119 "this._adjustSizeOfItems is not a function"
Hello and thanks for this package, i really liked it and i've been trying to get it working for almost 2 days
i've webpack and i had this error coming from the package code: `this._adjustSizeOfItems is not a function`
and this is the files content
<h4>app.js:</h4>

[code]

<h4>gallery.js:</h4>

[code]

<h4>html:</h4>

[code]
<h4>package.json:</h4>

[code]
any help is appreciated

[2018-05-09 13:07] webbieram opened #120 "change direction to ltr and rtl"
Hi team,
first of all a big thx to the great plugin.

currently i m working with some application that have ltr and rtl option. For dashboard i m using our own grid plugin :-) . But when i switch to rtl its not working. How to achieve this function with grid.

[2018-11-18 07:01] thirukumarangceb opened #121 "How to position the cell"
Hi,

![image](https://user-images.githubusercontent.com/38306714/48669567-52cca880-eb2d-11e8-9d2b-adee42c8e2f2.png)

I need to position the cell 0 to yellow highlighted position is it possible. and my concerns is while dragging the cell 0  to the yellow highlighted position it is not creating place it to. How could I able this dragging in my application.

Thanks in advance.

Regards,
Thirukumaran

[2018-12-04 22:08] KatamariJr opened #122 "Acessing the underlying GridList object from jQuery plugin"
I was wondering if anyone knew of any way to access the GridList object from a jQuery method call? I'm trying to find the position array and am having some trouble.

[2019-12-11 01:42] sonywatson opened #124 "The demo website has js errors"
http://hootsuite.github.io/grid/

ReferenceError: jQuery is not defined
ReferenceError: $ is not defined

[2020-02-04 03:47] #38 closed

[2021-04-16 12:54] #57 closed

[2021-04-22 04:24] baehongjun0212 opened #125 "How can I swap object without moving to the right?"
First of all, thank you for developing a good program :)

**1. First**
![스크린샷 2021-04-22 오전 11 27 17](https://user-images.githubusercontent.com/55692618/115655240-d7aaf480-a36d-11eb-8a15-5bcc0a08cc73.png)

**2. My Problem**
![스크린샷 2021-04-22 오전 11 28 24](https://user-images.githubusercontent.com/55692618/115655266-e98c9780-a36d-11eb-9737-8ebe1f97fcde.png)

Numbers 1 and 2 are wel

[2021-05-17 03:31] #125 closed

[2021-07-07 15:12] aubrijesh commented on #50
Hi @andrei-picus-hs, is there anyway I can create nested grid with drag and drop support ?

[2021-08-30 07:19] LucieDesmons opened #126 "Can't create a grid"
Hello, I can't create a grid. Is the library still viable?
Thanks, have a nice day

[2021-08-30 11:14] RobEbbers opened #127 "limiting ammount of boxes on load"
goodday i have a question if there is a easy way to limit amount of boxes loaded on first launch or limit total amount per boxes per collum